In [2]:
import pandas as pd

In [3]:
excel_path = input("Excel Path: ")#r"F:\_NGHIEN CUU\_Github\py_bim_4D\XLSX\BIM EZ 211009 (1).xlsx"

In [4]:
excel = pd.ExcelFile(excel_path)
sheet_names = excel.sheet_names
[print(f"{i} : {name}") for i,name in enumerate (sheet_names)]

0 : Việt Mỹ
1 : SAMSUNG R&D
2 : ACCREDO

[None, None, None]

In [5]:
while True:
    sheet_number = input("Chọn số hiệu tên Sheet")
    try:
        sheet_name = sheet_names[int(sheet_number)]
        if sheet_name in sheet_names:
            print(sheet_name)
            break
    except:
        pass

SAMSUNG R&D

In [6]:
df = pd.read_excel(excel_path,sheet_name=sheet_name)
df.fillna("",inplace=True)
df

,WBS Level,Activity ID,Activity Name,Duration,BL Project Start,BL Project Finish,Start,Finish,Performance % Complete
0,0,01A SAMSUNG R&D PROJECT _ TRACKING SCHEDULE,,365,2021-05-02,2022-04-28,02-May-21 A,,
1,1,01A.1 PODIUM,,156,2021-05-02,2021-10-05,02-May-21 A,27-Sep-21 A,
2,2,01A.1.4 PRIOR AREA,,111,2021-05-02,2021-08-20,02-May-21 A,19-Aug-21 A,
3,3,01A.1.4.1 LEVEL 02,,45,2021-05-02,2021-06-15,02-May-21 A,03-Jun-21 A,
4,Activity,A1001,Zone A,43,2021-05-02,2021-06-13,02-May-21 A,01-Jun-21 A,1.0
...,...,...,...,...,...,...,...,...,...
60,Activity,A1037,Zone A,11,2022-04-04,2022-04-15,,,
61,Activity,A1038,Zone B,11,2022-04-07,2022-04-18,,,
62,2,01A.2.14 LEVEL PH ROOF,,10,2022-04-19,2022-04-28,,,
63,Activity,A1039,Zone A,7,2022-04-19,2022-04-25,,,
64,Activity,A1040,Zone B,7,2022-04-22,2022-04-28,,,

## GHÉP CỘT

In [7]:
df["Cột ghép"] = df["Activity ID"] + " " +df["Activity Name"]
df

,WBS Level,Activity ID,Activity Name,Duration,BL Project Start,BL Project Finish,Start,Finish,Performance % Complete,Cột ghép
0,0,01A SAMSUNG R&D PROJECT _ TRACKING SCHEDULE,,365,2021-05-02,2022-04-28,02-May-21 A,,,01A SAMSUNG R&D PROJECT _ TRACKING SCHEDULE
1,1,01A.1 PODIUM,,156,2021-05-02,2021-10-05,02-May-21 A,27-Sep-21 A,,01A.1 PODIUM
2,2,01A.1.4 PRIOR AREA,,111,2021-05-02,2021-08-20,02-May-21 A,19-Aug-21 A,,01A.1.4 PRIOR AREA
3,3,01A.1.4.1 LEVEL 02,,45,2021-05-02,2021-06-15,02-May-21 A,03-Jun-21 A,,01A.1.4.1 LEVEL 02
4,Activity,A1001,Zone A,43,2021-05-02,2021-06-13,02-May-21 A,01-Jun-21 A,1.0,A1001 Zone A
...,...,...,...,...,...,...,...,...,...,...
60,Activity,A1037,Zone A,11,2022-04-04,2022-04-15,,,,A1037 Zone A
61,Activity,A1038,Zone B,11,2022-04-07,2022-04-18,,,,A1038 Zone B
62,2,01A.2.14 LEVEL PH ROOF,,10,2022-04-19,2022-04-28,,,,01A.2.14 LEVEL PH ROOF
63,Activity,A1039,Zone A,7,2022-04-19,2022-04-25,,,,A1039 Zone A
64,Activity,A1040,Zone B,7,2022-04-22,2022-04-28,,,,A1040 Zone B

In [8]:
columns = df.columns
col_count = len (columns)
index = df.index
row_count = len(index)
print(f"Column: {col_count}\nRow: {row_count}")
[print(col) for col in columns]

Column: 10
Row: 65
WBS Level
Activity ID
Activity Name
Duration
BL Project Start
BL Project Finish
Start
Finish
Performance % Complete
Cột ghép

[None, None, None, None, None, None, None, None, None, None]